.side-menu {
  position: fixed;
  top: 0;
  right: -240px;
  width: 240px;
  height: 100%;
  background-color: #171827;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  transition: right 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
}

.side-menu.active {
right: -100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 900;
  transition: opacity 0.3s ease;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}
